
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<p>Please use the following form to login, or <a href="{% url "register" %}">create new account</a></p>
{% comment %} action="." tells the browser to return the form data to the current URL , using the POST method. {% endcomment %}
<form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log in"></p>
</form>

{% comment %} add link to login with google {% endcomment %}
{% comment %} <li class = "google">
    <a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>
</li> {% endcomment %}
{% endblock %}    